# "typical gitignore for play"
logs
project/project
project/target
target
tmp
dist

# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# netbeans ignore
nbproject

# others
build
RUNNING_PID
out