@(referenceForm: Form[Reference])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    
    <h1>Add a reference</h1>
    
    @form(routes.Application.save()) {
        
        <fieldset>
        
            @inputText(referenceForm("referenceType"), '_label -> "Reference type")
            @inputText(referenceForm("author"), '_label -> "Author")
            @inputText(referenceForm("title"), '_label -> "Title")
            @inputText(referenceForm("year"), '_label -> "Year")
            @inputText(referenceForm("publisher"), '_label -> "Publisher")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this reference" class="btn primary"> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}