@(referenceForm: Form[Reference], referenceType: ReferenceType)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main {
    <header>
    	<h1>Add a reference</h1>
    </header>
    
    @form(routes.Application.save(referenceType.id)) {
        
        <fieldset>
        	<h3>Required fields:</h3>
        	@for(field <- referenceType.requiredFields) {
				@inputText(referenceForm(field.fieldName), '_label -> field.fieldName)
        	}
        	<h3>Optional fields:</h3>
        	@for(field <- referenceType.optionalFields) {
				@inputText(referenceForm(field.fieldName), '_label -> field.fieldName)
        	}

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this reference" class="btn primary"/> or 
            <a href="@routes.Application.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}