@(references:List[Reference], fieldTypes: List[FieldType], currentSortBy: String, currentOrder: String, currentSearchField: String, currentSearchFilter: String)

@import helper._

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.Application.listReferences(sortBy, order, currentSearchField, currentSearchFilter)
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String) = {
    <th class="@{if(currentSortBy == key) {if(currentOrder == "asc") "sorting_asc" else "sorting_desc"} else "sorting"}">
        <a href="@link(key)" id="sort_by_@key">@key</a>
    </th>
}

@main {
    
    <header>
        <h1>References list</h1>
    </header>

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

	<div class="btn-group" id="actions">      
   		<a class="btn btn-success" id="add" href="@routes.Application.referenceTypeEditFormChooser()">Add a new reference</a>
   		<a class="btn btn-primary" id="download" href="@routes.Application.generateBib()">Download bibtex-file</a>
   	</div>
   	<div class="pull-right">
   	<form class="form-inline" action="@link(null)" method="GET">
   		<select name="field">
   			@for(fieldType <- fieldTypes) {
					<option @{if(currentSearchField == fieldType.fieldName) "selected"}>@fieldType.fieldName</option>
            }
		</select>
	  	<input id="currentSearchFilter" type="text" name="filter" value="@currentSearchFilter">
	  	<input type="submit" class="btn" type="button" value="Search" />
  	</form>
   	</div>
   	<br /><br />
        
    @if(references.size == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
            @header("referenceType")  
            @for(fieldType <- fieldTypes) {
					@header(fieldType.fieldName)       
            }
            <th>
            actions
            </th>
                </tr>
            </thead>
            <tbody>
            @for(reference <- references) {
            <tr>
            		<td>
            		@reference.referenceType.name
            		</td>
                @for(fieldType <- fieldTypes) {
            		<td>
					@{
						val fields : Map[String, String] = reference.getVariables						
					    fields.get(fieldType.fieldName)
					}
					</td>       
            	}
            <td>
            @form(routes.Application.delete(reference.id), 'class -> "form-inline nomargin") {
            	<a class="btn btn-primary" id="edit_@reference.id" href="@routes.Application.editForm(reference.id)">edit</a>
				<input type="submit" id="delete_@reference.id" value="delete" class="btn btn-danger">
			} 
            </td>
            </tr>
            }
            </tbody>
        </table>
    }
        
}

            
