@(references:List[Reference], fieldTypes: List[FieldType])

@main {
    
    <header>
        <h1>References list</h1>
    </header>

    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    } 

	<div class="btn-group" id="actions">      
   		<a class="btn btn-success" id="add" href="@routes.Application.choose()">Add a new reference</a>
   		<a class="btn btn-primary" id="download" href="@routes.Application.generateBib()">Download bibtex-file</a>
   	</div>
   	<br /><br />
        
    @if(references.size == 0) {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    } else {
        
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
            		<th>
					type 
					</th> 
            @for(fieldType <- fieldTypes) {
            		<th>
					@fieldType.fieldName 
					</th>       
            }
                </tr>
            </thead>
            <tbody>
            @for(reference <- references) {
            <tr>
            		<td>
            		@reference.referenceType.name
            		</td>
                @for(fieldType <- fieldTypes) {
            		<td>
					@{
						val fields : Map[String, String] = reference.getMap						
					    fields.get(fieldType.fieldName)
					}
					</td>       
            	}
            <td>
            		<div class="btn-group" id="actions">
            			<a class="btn btn-primary" id="edit" href="@routes.Application.edit(reference.id)">Edit</a> 
            		</div>
            </td>
            <td>
				<form action="@routes.Application.delete(reference.id)" method="POST">
				<input type="submit" value="Delete">
				</form>
            </td>
            </tr>
            }
            </tbody>
        </table>
    }
        
}

            
